<p>Welcome to Kelloggbook,</p>

<p>Thank you for registering!</p>
<p>Don't forget to complete your yearbook profile at:</p>
<p><%= link_to "Edit profile", edit_user_url(@user) %></p>
<p>&nbsp;</p>
<p>We will reach out to you again once your picture has been taken to make your final profile updates and release approval.</p>
<p>&nbsp;</p>
<p>Thank you,<br>
The Kelloggbook team</p>
